{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/superheroapp" method="POST">
        <fieldset>
            <legend>Edit Superhero</legend>
            <label class="form-label">Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="{{ superhero.name }}"
                value="{{ superhero.name }}"
                class="form-control"
            >
            <label class="form-label">Intelligence: </label>
            <input 
                type="number" 
                name="intelligence" 
                value="{{ superhero.powerstats.intelligence }}" 
                class="form-control"
            >
            <label class="form-label">Strength: </label>
            <input 
                type="number" 
                name="strength"
                value="{{ superhero.powerstats.strength }}"
                class="form-control"
            >
            <label class="form-label">Speed: </label>
            <input 
                type="number" 
                name="speed"
                value="{{ superhero.powerstats.speed }}"
                class="form-control"
            >
            <label class="form-label">Durability: </label>
            <input 
                type="number" 
                name="durability"
                value="{{ superhero.powerstats.durability }}"
                class="form-control"
            >
            <label class="form-label">Power: </label>
            <input 
                type="number" 
                name="power"
                value="{{ superhero.powerstats.power }}"
                class="form-control"
            >
            <label class="form-label">Combat: </label>
            <input 
                type="number" 
                name="combat"
                value="{{ superhero.powerstats.combat }}"
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Edit Superhero" class="btn btn-success">
    </form>
</div>
{% endblock %}